TURSO_URL=libsql://bun-digest-tithos.aws-us-west-2.turso.io
TURSO_AUTH_TOKEN=your_turso_token_here
TURSO_TOKEN=your_turso_token_here
BETTER_AUTH_SECRET=your_better_auth_secret_32_chars_min
BETTER_AUTH_URL=http://localhost:5173

GOOGLE_CLIENT_ID=291018291490-uaph5dnm2v3l0dsc2bnolila06c2f54n.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_token_here